@import 'bootstrap/scss/bootstrap';

.flex-between-props {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.flex-center-props {
  justify-content: center;
  align-items: center;
}

.form-control::placeholder {
  color: black!important;
  opacity: 1;
}

.custom-shadow::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 100vw;
  height: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
  z-index: -1;
}

.animated {
  animation: down 1s ease-in-out forwards;
  transform: translateY(-100%);
}

@keyframes down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}