@import 'bootstrap/scss/bootstrap';

* {
  font-family: 'Nunito', sans-serif;
}

.flex-between-props {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.flex-center-props {
  justify-content: center;
  align-items: center;
}

.form-control::placeholder:not(#userName, #userEmail), {
  color: black;
  opacity: 1;
}

.custom-fs-sm {
  font-size: 14px;
}

.custom-shadow::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 100vw;
  height: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
  z-index: -1;
}

.custom-bg-banner-primary {
  background-image: url('/images/banners/primary-banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80% center;
  height: 300px;
  width: 100%;
  margin-left: -20px;
}

.custom-bg-banner-secondary {
  background-image: url('/images/banners/secondary-banner-mobile.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 450px;
}

.custom-bg-banner-secondary-desktop {
  background-image: url('/images/banners/secondary-banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 660px;
}

@mixin icon-props {
  width: 40px;
  height: 28px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}


.instagram-icon {
  @include icon-props;
  background-image: url('/images/logos/instagram.svg');
}

.facebook-icon {
  @include icon-props;
  background-image: url('/images/logos/facebook.svg');
}

.youtube-icon {
  @include icon-props;
  background-image: url('/images/logos/youtube.svg');
}

.tiktok-icon {
  @include icon-props;
  background-image: url('/images/logos/tiktok.svg');
}

.amex-icon {
  @include icon-props;
  background-image: url('/images/logos/amex.svg');
}

.master-card-icon {
  @include icon-props;
  background-image: url('/images/logos/mastercard.svg');
}

.visa-icon {
  @include icon-props;
  background-image: url('/images/logos/visa.svg');
}

.hipercard-icon {
  @include icon-props;
  background-image: url('/images/logos/hipercard.svg');
}

.elo-icon {
  @include icon-props;
  background-image: url('/images/logos/elo.svg');
}

.b {
  @include icon-props;
  background-image: url('/images/logos/b.svg')
}

.paypal-icon {
  @include icon-props;
  background-image: url('/images/logos/paypal.svg')
}

.pix-icon {
  @include icon-props;
  background-image: url('/images/logos/pix.svg')
}

.barcode-icon {
  @include icon-props;
  background-image: url('/images/logos/barcode.svg')
}

.encrypt-icon {
  @include icon-props;
  background-image: url('/images/logos/letsEncrypt.svg')
}

.vtex-pci-icon {
  @include icon-props;
  background-image: url('/images/logos/vtex-pci.svg')
}

.vtex-icon {
  @include icon-props;
  background-image: url('/images/logos/vtex.svg')
}

.avanti-icon {
  @include icon-props;
  background-image: url('/images/logos/avanti.svg')
}

main form:last-of-type {
  padding: 1em;
}

button[aria-expanded="true"] i,
button[aria-expanded="true"] + small {
  color: #0d6efd;
}


main form:last-of-type button {
  padding: 14px 24px 14px 24px;
}

a:hover,
a:hover + i{
  color:  #0d6efd!important; ;
}

a {
  text-decoration: none;
  color: inherit;
}

.animated {
  animation: down 1s ease-in-out forwards;
  transform: translateY(-100%);
}

@media (max-width: 500px) {
  .container {
    overflow-x: hidden;
  }
}

@media (min-width: 792px) {

  .custom-bg-banner-primary {
    background-position: center;
    width: 50%;
    margin-left: 0;
    height: 500px;
  }

  main div:first-child div:last-child > h3:first-of-type:not(.carousel h3) {
    font-size: 100px !important;
  }

  main div:first-child div:last-child p {
    font-size: 25px!important;
    letter-spacing: 5px;
  }

  main div:first-child div:last-child > h3:last-of-type:not(.carousel h3) {
    font-size: 50px!important;
  }

  img.object-fit-cover {
    width: 600px!important;
    height: auto!important;
    padding: 3em;
  }

  main form:last-of-type {
    background-color: #DEDEDE;
    padding: 3em;

    input:not([type="checkbox"]) {
      height: 3em;
    }
  }

  main form:last-of-type button {
    max-width: 130px!important;
  }
}



@keyframes down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}